{
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off",
    "one-var": "off",
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "space-before-function-paren": ["error", "never"]
  },
  "parser": "babel-eslint"
}
